@font-face {
  font-family: 'SaudiFont';
  src: url('https://cdn.jsdelivr.net/gh/naqawap-sketch/naqawa/saudimfont.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/gh/naqawap-sketch/naqawa/Saudi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
